<tr>
    <td>{{ expense.date }}</td>
    <td><a href="{% url "bank_account_transactions" %}?account={{ expense.from_account.id }}">{{ expense.from_account }}</a></td>
    <td><a href="{% url "payee_transactions" %}?payee={{ expense.to_account.id }}">{{ expense.to_account }}</a></td>
    <td>{{ expense.category }}</td>
    <td>{{ expense.amount }} NOK</td>
    <td><a href="{% url "receipt_edit" %}?receipt={{ expense.id }}">
        <i class="bi bi-pencil"></i>
    </a>
    <a href="{% url "receipt_delete" %}?receipt={{ expense.id }}"><i class="bi bi-x-circle"></i>
    </a>
    </td>
</tr>
