{% extends 'base.html' %}
{% block content %}
    <h3 class="text-center">{{ day.date }}</h3>
    <nav aria-label="Change date" class="justify-content-center">
    <ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="{% url 'list_view' %}?day={{ prev_week.date.isoformat }}">&lt;</a>
    </li>
    {% for day in days %}
    <li class="page-item">
        <a class="page-link" href="{% url 'list_view' %}?day={{ day.date.isoformat }}">{{ day.day }}.</a>
    </li>
    {% endfor %}
    <li class="page-item">
        <a class="page-link" href="{% url 'list_view' %}?day={{ next_week.date.isoformat }}">&gt;</a>
    </li>
    </ul>
    </nav>
    <div class="justify-content-center">
        <a class="btn btn-primary" href="{% url 'add_receipt' %}?day={{ day.date.isoformat }}">Ny utgift</a>
    </div>
    <table class="table">
    <tbody>
    {% for expense in receipts %}
        <tr>
            <td><a href="{% url "payee" %}?account={{ expense.to_account.id }}">{{ expense.to_account }}</a></td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.amount }} NOK</td>
            <td><a href="{% url "edit_receipt" %}?receipt={{ expense.id }}">
                <i class="bi bi-pencil"></i>
            </a>
            <a href="{% url "delete_receipt" %}?receipt={{ expense.id }}"><i class="bi bi-x-circle"></i>
            </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2">Totalt</td>
        <td>{{ total }} NOK</td>
    </tr>
    </tfoot>
    </table>
{% endblock %}