{% extends 'base.html' %}
{% block content %}
    <h3 class="text-center">Betalingar
        {% if account %}
            frå <strong>{{ account.name }}</strong>
        {% endif %}
        {% if payee %}
            til <strong>{{ payee.name }}</strong>
        {% endif %}
    </h3>
    <nav aria-label="Change date" class="justify-content-center">
    <ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="{{ prev_path }}">&lsaquo; Førre månad</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">{{ current_date_verbose }}</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="{{ next_path }}">Neste månad &rsaquo;</a>
    </li>
    </ul>
    </nav>
    <div class="justify-content-center">
        <a class="btn btn-primary" href="{% url 'receipt_add' %}?day={{ current_date.date.isoformat }}">Ny utgift</a>
        {% if account %}
            <a
              class="btn btn-primary"
              href="{% url 'bank_account_edit' %}?account={{ account.id }}">
                Rediger {{ account.name }}
            </a>
            <a
              class="btn btn-primary"
              href="{% url 'bank_statement_import' %}?account={{ account.id }}&day={{ current_date.date.isoformat }}">
                Importer data
            </a>
        {% endif %}
        {% if payee %}
            <a class="btn btn-primary" href="{% url 'payee_add' %}?payee={{ payee.id }}">Rediger {{ payee.name }}</a>
        {% endif %}
    </div>
    <table class="table">
    <tbody>
    {% for expense in receipts %}
        {% include 'expense.html' %}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">Totalt</td>
        <td>{{ total }} NOK</td>
    </tr>
    </tfoot>
    </table>
{% endblock %}