{% extends 'base.html' %}
{% block content %}
    <h3>Mottakarar</h3>
    <table class="table">
    <tbody>
    {% for payee in payees %}
        <tr>
            <td>{{ payee.name }}</td>
            <td>
                <a href="{% url 'add_payee' %}?payee={{ payee.id }}"><i class="bi bi-pencil"></i></a>
                <a href="{% url 'delete_payee' %}?payee={{ payee.id }}"><i class="bi bi-x-circle"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}