{% extends 'base.html' %}
{% block content %}
    <h3>Mottakarar</h3>
    <div class="justify-content-center">
        <a class="btn btn-primary" href="{% url 'payee_add' %}">Ny mottakar</a>
    </div>
    <table class="table">
    <tbody>
    {% for payee in payees %}
        <tr>
            <td>
                <a href="{% url 'payee_transactions' %}?payee={{ payee.id }}">{{ payee.name }}</a>
            </td>
            <td>
                <a href="{% url 'payee_add' %}?payee={{ payee.id }}"><i class="bi bi-pencil"></i></a>
                <a href="{% url 'payee_delete' %}?payee={{ payee.id }}"><i class="bi bi-x-circle"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}