{% extends 'base.html' %}
{% block content %}
    <h3 class="text-center">{{ payee.name }}</h3>
    <nav aria-label="Change date" class="justify-content-center">
    <ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="{% url 'payee_transactions' %}?payee={{ request.GET.payee }}&from={{ prev_month_from.isoformat }}&to={{ prev_month_to.isoformat }}">&lsaquo; Førre månad</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">{{ current_date_verbose }}</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="{% url 'payee_transactions' %}?payee={{ request.GET.payee }}&from={{ next_month_from.isoformat }}&to={{ next_month_to.isoformat }}">Neste månad &rsaquo;</a>
    </li>
    </ul>
    </nav>
    <div class="justify-content-center">
        <a class="btn btn-primary" href="{% url 'receipt_add' %}?day={{ current_date.date.isoformat }}">Ny utgift</a>
    </div>
    <table class="table">
    <tbody>
    {% for expense in receipts %}
        <tr>
            <td>{{ expense.date }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.amount }} NOK</td>
            <td>
                <a href="{% url "receipt_edit" %}?receipt={{ expense.id }}">
                    <i class="bi bi-pencil"></i>
                </a>
                <a href="{% url "receipt_delete" %}?receipt={{ expense.id }}">
                    <i class="bi bi-x-circle"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2">Totalt</td>
        <td>{{ total }} NOK</td>
    </tr>
    </tfoot>
    </table>
{% endblock %}