{% extends "base_modal.html" %}
{% block content %}
    <form method="post" action="{% url 'receipt_add' %}">
        {% csrf_token %}
        <div class="fieldWrapper">
            <label for="{{ form.from_account.id_for_label }}">Frå: </label>
            {{ form.from_account }}
            <a href="#"><i class="bi bi-plus"></i></a>
            <a href="#"><i class="bi bi-pencil"></i></a>
        </div>
        <div class="fieldWrapper">
            <label for="{{ form.to_account.id_for_label }}">Til: </label>
            {{ form.to_account }}
            <a href="{% url 'payee_add' %}{% if path is not None %}?next={{ path }}{% endif %}"><i class="bi bi-plus"></i></a>
            <a
              href="#"
              onclick="document.location = `{% url 'payee_add' %}?payee=${document.getElementById('id_to_account').value}{% if path is not None %}&next={{ path }}{% endif %}`; return false">
                <i class="bi bi-pencil"></i>
            </a>
        </div>
        <div class="fieldWrapper">
            <label for="{{ form.date.id_for_label }}">Dato: </label>
            {{ form.date }}
        </div>
        <div class="fieldWrapper">
            <label for="{{ form.amount.id_for_label }}">Beløp: </label>
            {{ form.amount }}
        </div>
        <input type="hidden" name="id" value="{{ id }}">
        <input type="submit" value="Legg til">
    </form>
{% endblock %}
